.home {
  text-align: center;
  width: auto;
}

.home-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.home-wrapper {
  text-align: center;
  flex-wrap: wrap;
}
